<html>
<style type = "text/css">
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
</style>

<body>

<center>Congrats! You just got this service.</center>
<a href="{{ url_for('showLinks') }}"><p style="text-align:center">Go TO HOME PAGE</p></a>
</body>

</html>